<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Settings</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'recipes' %}">Recipes</a></li>
        <li><a href="#" id="sign-off">Sign Off</a></li>
        <li><a href="{% url 'profile_settings' %}">Profile Settings</a></li>
      </ul>
    </nav>

    <div id="profile-settings">
      <h1>Profile Settings</h1>

      <!-- Display messages -->
      {% if messages %}
      <div id="messages">
        {% for message in messages %}
        <p class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
      </div>
      {% endif %}

      <!-- Change First Name Form -->
      <form
        id="first-name-form"
        method="post"
        action="{% url 'change_first_name' %}"
      >
        {% csrf_token %}
        <label for="first_name">First Name:</label>
        <input
          type="text"
          id="first_name"
          name="first_name"
          value="{{ profile_form.first_name.value }}"
          required
        /><br />
        <button type="submit">Change First Name</button>
      </form>

      <!-- Change Last Name Form -->
      <form
        id="last-name-form"
        method="post"
        action="{% url 'change_last_name' %}"
      >
        {% csrf_token %}
        <label for="last_name">Last Name:</label>
        <input
          type="text"
          id="last_name"
          name="last_name"
          value="{{ profile_form.last_name.value }}"
          required
        /><br />
        <button type="submit">Change Last Name</button>
      </form>

      <!-- Change Email Form -->
      <form id="email-form" method="post" action="{% url 'change_email' %}">
        {% csrf_token %}
        <label for="profile_email">New Email:</label>
        <input
          type="email"
          id="profile_email"
          name="email"
          value="{{ profile_form.email.value }}"
          required
        /><br />
        <button type="submit">Change Email</button>
      </form>

      <!-- Change Password Form -->
      <form
        id="password-form"
        method="post"
        action="{% url 'change_password' %}"
      >
        {% csrf_token %}
        <label for="current_password">Current Password:</label>
        <input
          type="password"
          id="current_password"
          name="old_password"
          required
        /><br />
        <label for="new_password">New Password:</label>
        <input
          type="password"
          id="new_password"
          name="new_password"
          required
        /><br />
        <label for="confirm_new_password">Confirm New Password:</label>
        <input
          type="password"
          id="confirm_new_password"
          name="confirm_new_password"
          required
        /><br />
        <button type="submit">Change Password</button>
      </form>

      <!-- Delete Account Form -->
      <form id="delete-account-form">
        {% csrf_token %}
        <button type="button" onclick="deleteAccount()">Delete Account</button>
      </form>

      <p id="profile-message"></p>
      <button type="button" id="go-back-home">Go Back to Home</button>
      <p id="last_login">Last Login: {{ user.last_login }}</p>
    </div>

    <script>
      document
        .getElementById("go-back-home")
        .addEventListener("click", function () {
          window.location.href = "{% url 'index' %}";
        });

      document
        .getElementById("sign-off")
        .addEventListener("click", function () {
          localStorage.removeItem("token");
          window.location.href = "{% url 'index' %}";
        });

      function deleteAccount() {
        const csrfToken = document.querySelector(
          'input[name="csrfmiddlewaretoken"]'
        ).value;
        const confirmation = confirm(
          "Are you sure you want to delete your account?"
        );
        if (confirmation) {
          fetch("{% url 'delete_account' %}", {
            method: "DELETE",
            headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": csrfToken,
            },
          })
            .then((response) => {
              if (response.ok) {
                alert("Account deleted successfully.");
                localStorage.removeItem("token");
                window.location.href = "{% url 'index' %}";
              } else {
                return response.json().then((data) => {
                  throw new Error(data.message);
                });
              }
            })
            .catch((error) => {
              alert("Error: " + error.message);
            });
        }
      }
    </script>
  </body>
</html>
