<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank You</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <nav id="main-nav" style="display: none">
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'recipes' %}">Recipes</a></li>
        <li><a href="#" id="sign-off">Sign Off</a></li>
        <li><a href="{% url 'profile_settings' %}">Profile Settings</a></li>
      </ul>
    </nav>

    <div id="thank-you-section">
      <h1>Thank You!</h1>
      <p>Thank you for removing the following recipe:</p>
      <div>
        <p><strong>Name:</strong> {{ name }}</p>
        <p><strong>Description:</strong> {{ description }}</p>
        <p><strong>Category:</strong> {{ category }}</p>
        <p>
          <strong>Image URL:</strong>
          <a href="{{ imageurl }}" target="_blank">{{ imageurl }}</a>
        </p>
        <p><strong>Ingredients:</strong></p>
        <pre>{{ ingredients }}</pre>
        <p><strong>Instructions:</strong></p>
        <pre>{{ instructions }}</pre>
      </div>
      <p><a href="{% url 'index' %}">Go back to Home</a></p>
    </div>

    <script>
      function getCSRFToken() {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, 10) === "csrftoken=") {
              cookieValue = decodeURIComponent(cookie.substring(10));
              break;
            }
          }
        }
        return cookieValue;
      }

      const csrfToken = getCSRFToken();

      function showAuthenticatedSections() {
        document.getElementById("main-nav").style.display = "block";
        document.getElementById("thank-you-section").style.display = "block";
      }

      document
        .getElementById("sign-off")
        .addEventListener("click", function () {
          localStorage.removeItem("token");
          window.location.href = "/";
        });

      document.addEventListener("DOMContentLoaded", function () {
        const token = localStorage.getItem("token");
        if (token) {
          showAuthenticatedSections();
        }
      });
    </script>
  </body>
</html>
